<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper" [ngClass]="_sharedVariables.isOpenNow ? 'hide' : 'show'">
    <div class="sidebar-heading">Arbind Assigments </div>
    <div class="list-group list-group-flush">
        <ngb-accordion [closeOthers]="true" activeIds="static-1">
            <ngb-panel id="static-1">
                <ng-template ngbPanelTitle>
                    Assignment One
                </ng-template>
                <ng-template ngbPanelContent>
                    <a class="list-group-item list-group-item-action bg-light" routerLink="/1/chapter1" routerLinkActive="active">Chapter 1</a>
                    <a class="list-group-item list-group-item-action bg-light" routerLink="/1/chapter2" routerLinkActive="active">Chapter 2</a>
                    <a class="list-group-item list-group-item-action bg-light" routerLink="/1/chapter3" routerLinkActive="active">Chapter 3</a>
                    <a class="list-group-item list-group-item-action bg-light" routerLink="/1/chapter4" routerLinkActive="active">Chapter 4</a>
                    <a class="list-group-item list-group-item-action bg-light" routerLink="/1/chapter5" routerLinkActive="active">Chapter 5</a>
                    <a class="list-group-item list-group-item-action bg-light" routerLink="/1/chapter6" routerLinkActive="active">Chapter 6</a>
                    <a class="list-group-item list-group-item-action bg-light" routerLink="/1/user-list" routerLinkActive="active">Chapter 7</a>
                    <a class="list-group-item list-group-item-action bg-light" routerLink="/1/chapter8" routerLinkActive="active">Chapter 8</a>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="static-2">
                <ng-template ngbPanelTitle>
                    Assignment Two
                </ng-template>
                <ng-template ngbPanelContent>
                    <a class="list-group-item list-group-item-action bg-light" routerLink="/2/chapter1" routerLinkActive="active">Chapter 1</a>
                    <a class="list-group-item list-group-item-action bg-light" routerLink="/2/chapter2" routerLinkActive="active">Chapter 2</a>
                    <a class="list-group-item list-group-item-action bg-light" routerLink="/2/chapter3" routerLinkActive="active">Chapter 3</a>
                    <a class="list-group-item list-group-item-action bg-light" routerLink="/2/chapter4" routerLinkActive="active">Chapter 4</a>
                    <a class="list-group-item list-group-item-action bg-light" routerLink="/2/chapter5" routerLinkActive="active">Chapter 5</a>
                    <a class="list-group-item list-group-item-action bg-light" routerLink="/2/chapter6" routerLinkActive="active">Chapter 6</a>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
<!-- /#sidebar-wrapper -->